body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7d7d7d;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.menu {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #000000;
}

.form-container {
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #000000;
}
